@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: 10000px;
  background: white;
  position: relative;
}

.frame-position {
  padding: 3.7vh;
}

.header-position {
  padding-top: 3.7vh;
}

.nav-position {
  height: 7.36vh;
}

.main-position {
  margin-top: 7.5vh;
  margin-left: 3.7vh;
  margin-right: 3.7vh;
}

.padding-default {
  padding-left: 6.45vw;
  padding-right: 1.9vw;
}

.title-position {
  margin-top: 45vh;
}

.d-right {
  right: 3.7vh;
}

.d-mr {
  margin-right: 3.7vh;
}

.h-130 {
  height: 130vh;
}

.process-card {
  will-change: transform;
  background-color: white;
  overflow: hidden;
  width: 29.7916666667vw;
  height: 42.5vw;
  position: sticky;
  top: 6.9444444444vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.process-cards {
  position: relative;
  margin-top: 10.4166666667vw;
  display: flex;
  flex-direction: column;
  gap: 27.7777777778vw;
  padding-bottom: 27.7777777778vw;
}